body {
	font-family: sans-serif;
	padding: 5px;
	margin: 0;
	/*
		To prevent chrome's pull refresh
		https://stackoverflow.com/q/29008194
	*/
	overscroll-behavior: contain;
	overflow-y: hidden;
}
* {
	/*
		Meant to remove mobile browser delay
		in firing touch events.
	*/
	touch-action: manipulation;
}
#container {
	display: table;
	margin: 40px auto 0 auto;
}
#status-bar {
	display: inline-block;
	width: 100%;
}
.label {
	color: #888888;
}
.status-block {
	width: 100px;
	text-align: center;
	padding: 5px 0;
}
#timer-view {
	float: left;
}
#points-view {
	float: right;
}
#sum-view {
	font-size: 30px;
	padding: 10px;
	position: relative;
	margin: 0 0 50px 0;
}
#sum-label {
	text-align: right;
	position: absolute;
	left: 0;
	width: 49%;
}
#sum-value {
	text-align: left;
	position: absolute;
	right: 0;
	width: 49%;
}
#grid {
	display: inline-block;
	margin: 0px auto;
}
.overlay {
	background: rgba(255, 255, 255, 1);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
#canvas-container {
	position: relative;
}
#game-over-header {
	color: #232323;
}
#game-over-high-score-banner {
	text-align: center;
	display: none;
	color: #e55934;
}
#game-over-table {
	color: #555555;
	text-align: left;
	margin: 0px auto;
}
#game-over-table td {
	padding: 5px;
}
.overlay-btn {
	display: block;
	margin: 10px auto;
	padding: 5px 10px;
	width: 100px;
}
.overlay-header {
	text-align: center;
	margin-top: 5%;
	font-size: 25px;
}
.overlay-content {
	color: #232323;
	padding: 5px;
	margin: 10px auto 0 auto;
	max-width: 500px;
	font-size: 14px;
}
#zero-sum-example {
	text-align: center;
}
#pause-game-btn {
	display: block;
	margin: 0px auto;
	padding: 7px 0;
	width: 100px;
}
#github-logo-link {
	width: 70px;
	display: block;
	margin: 0px auto 30px auto;
}
#github-logo {
	width: 70px;
}
.overlay-btn-table {
	display: table;
	margin: 20px auto 0 auto;
	border-spacing: 10px;
}
.overlay-btn-table .overlay-btn {
	width: 100%;
}
.timer-warning {
	font-weight: bold !important;
	color: #fefefe !important;
	background-color: #c14955 !important;
}
#header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid rgb(240, 240, 240);
}
#header-title {
	font-size: 20px;
	padding: 10px;
	color: #232323;
}
#welcome-header {
	font-size: 30px;
}
input[type='radio'] {
	vertical-align: middle;
}
.radio-label {
	vertical-align: middle;
	display: inline-block;
	cursor: pointer;
	padding: 10px 5px;
	max-width: 350px;
}
.radio-sublabel {
	font-size: 13px;
	color: #919191;
}
.settings-section-title {
	font-size: 16px;
	margin-top: 10px;
}
#example-img {
	width: 300px;
}
.example-img-div {
	text-align: center;
}

/* https://getcssscan.com/css-buttons-examples */
.button-80 {
  background: #fff;
  backface-visibility: hidden;
  border-radius: 5px;
  border: 2px solid rgb(227, 227, 227);
  color: #717171;
  position: relative;
  text-align: center;
  transform: translateZ(0) scale(1);
  transition: transform .1s;
  padding: 7px 0;
  cursor: pointer;
}

.button-80:not(:disabled):hover {
  transform: scale(1.05);
}

.button-80:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

#start-game-btn, .resume-game-btn, #play-again-btn {
	background-color: rgb(45, 164, 78);
	color: #fefefe;
	border-color: rgba(27, 31, 36, 0.15);
}
