:root {
	--labelGray: #888888;
	--white: #ffffff;
	--titleBlack: #333333;
	--textBlack: #555555;
	--titleWhite: #fefefe;
	--textWhite: #bdc1c6;
	--buttonGreen: rgb(45, 164, 78);
	--buttonGray: #717171;
	--alertRed: #c14955;
	--highlightOrange: #e55934;
	--richBlack: #202124;
	--faintGray: #f1f1f1;
	--faintBlack: #2f2f2f;
	--hrefBlue: rgb(0, 116, 204);

	--headerFontFamily: 'League Spartan', sans-serif;
}

.light-theme {
	--themeBg: var(--white);
	--labelColor: var(--labelGray);
	--textColor: var(--textBlack);
	--titleColor: var(--titleBlack);
	--faintBorderColor: var(--faintGray);
}

.dark-theme {
	--themeBg: var(--richBlack);
	--labelColor: var(--labelGray);
	--textColor: var(--textWhite);
	--titleColor: var(--titleWhite);
	--faintBorderColor: var(--faintBlack);
}


body {
	font-family: sans-serif;
	padding: 5px;
	margin: 0;
	/*
		To prevent chrome's pull refresh
		https://stackoverflow.com/q/29008194
	*/
	overscroll-behavior: contain;
	overflow-y: hidden;
	background-color: var(--themeBg);
	/* default text color */
	color: var(--textColor);
}
* {
	/*
		Meant to remove mobile browser delay
		in firing touch events.
		Also seems to prevent pull refresh in IOS safari
	*/
	touch-action: none;
}
#container {
	display: table;
	margin: 40px auto 0 auto;
}
#status-bar {
	display: inline-block;
	width: 100%;
}
.label {
	color: var(--labelColor);
}
.status-block {
	width: 100px;
	text-align: center;
	padding: 5px 0;
}
#timer-view {
	float: left;
}
#points-view {
	float: right;
}
#sum-view {
	font-size: 30px;
	padding: 10px;
	position: relative;
	margin: 0 0 50px 0;
}
#sum-label {
	text-align: right;
	position: absolute;
	left: 0;
	width: 49%;
}
#sum-value {
	text-align: left;
	position: absolute;
	right: 0;
	width: 49%;
}
#grid {
	display: inline-block;
	margin: 0px auto;
}
.overlay {
	background: var(--themeBg);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#canvas-container {
	position: relative;
}
#game-over-high-score-banner {
	text-align: center;
	display: none;
	color: var(--highlightOrange);
	padding: 10px;
}
#game-over-table {
	text-align: center;
	margin: 0px auto;
}
#game-over-table td {
	padding: 5px;
}
.overlay-btn {
	display: block;
	margin: 10px auto;
	padding: 5px 10px;
	width: 100px;
}
.overlay-header {
	text-align: center;
	margin-top: 5%;
	font-size: 25px;
	color: var(--titleColor);
}
.overlay-content {
	color: var(--textColor);
	padding: 5px;
	margin: 10px auto 0 auto;
	max-width: 500px;
	font-size: 14px;
}
#pause-game-btn {
	display: block;
	margin: 15px auto 0 auto;
	padding: 7px 0;
	width: 100px;
}
.overlay-btn-table {
	display: table;
	margin: 20px auto 0 auto;
	border-spacing: 10px;
}
.overlay-btn-table .overlay-btn {
	width: 100%;
}
.timer-warning {
	font-weight: bold !important;
	color: var(--white) !important;
	background-color: var(--alertRed) !important;
}
#header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid var(--faintBorderColor);
}
#header-title {
	font-size: 20px;
	padding: 10px;
	color: var(--titleColor);
	font-family: var(--headerFontFamily);
}
#welcome-header {
	font-size: 35px;
	font-family: var(--headerFontFamily);
}
.settings-label {
	cursor: pointer;
	padding: 5px;
}
.settings-sublabel {
	font-size: 13px;
	color: var(--labelColor);
	padding: 3px 0;
}
.settings-section-title {
	font-size: 16px;
	margin-top: 10px;
}

/* https://getcssscan.com/css-buttons-examples */
.button-80 {
  background: var(--themeBg);
  backface-visibility: hidden;
  border-radius: 5px;
  border: 1px solid var(--textColor);
  color: var(--textColor);
  position: relative;
  text-align: center;
  transform: translateZ(0) scale(1);
  transition: transform .1s;
  padding: 7px 0;
  cursor: pointer;
}

.button-80:not(:disabled):hover {
  transform: scale(1.05);
}

.button-80:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

#start-game-btn, .resume-game-btn, #play-again-btn {
	background-color: var(--buttonGreen);
	color: var(--white);
	border-color: var(--buttonGreen);
}
.game-over-label {
	color: var(--labelColor);
}

#gameplay-example-div {
	text-align: center;
}

/* All overlays other than the welcome one should be hidden initially */
#game-over-overlay, #settings-overlay, #pause-overlay {
	display: none;
}
#github-link {
	font-size: 13px;
	text-align: center;
	margin-top: 2px;
}
#github-link a {
	color: var(--hrefBlue);
	padding: 2px;
}
